body {
    background: #19212b !important;
}
#container {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow-x: hidden;
	padding-top:50px;
    padding-bottom: 35px;
}

.double-progress {
    height: 25px;
    position: relative;
    margin: 10px 0;
    background-color: #fff;
}
.double-progress .progress-bar {
	-webkit-transition: width 0.1s linear;
		 -o-transition: width 0.1s linear;
			transition: width 0.1s linear;
}
.double-progress span {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: black;
    line-height: 25px;
}
#progress-countdown {
    width: 100%;
}

.scrollerContainer {
    margin: 0 !important;
}

.last-games {
    text-align: center;
    overflow: hidden;
    height: 76px;
    line-height: 4em;
}
.inline {
    display: inline-block;
    font-family: LatoBold;
}
.black-ball, .green-ball, .red-ball {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 1.3em;
    margin: 3px;
    color:#fff;
}
.green-block, .black-block, .red-block {
    width: 96px;
	height: 96px;
    margin-top: 3px;
	text-align: center;
	font-size: 1.3em;
    color:#fff;
}
.black-ball, .black-block {
    background: #141414;
}
.red-ball, .red-block {
    background: #A20000;
}
.green-ball, .green-block {
    background: #29AD26;
}

#caruselOver {
    height: 104px;
	overflow: hidden;
}
#aCanvas {
    height: 104px;
}
#fillBalance.button {
    display: inline-block;
    background: #009034;
    font-size: 0.8em;
    padding: 3px 10px;
    border-radius: 3px;
    text-transform: uppercase;
	cursor: pointer;
}
.bets {
    display: -webkit-box;
    display: flex;
    justify-content: center;
    margin: 5px;
}
#bet {
    text-align: right;
}

.bet-tables {
    padding: 0 10px;
}
.bet-tables > div {
    padding: 0;
}
table.bets-tables > tbody > tr > td {
    vertical-align: top;
	width: 33.33%
}
.bet-tables > div > table {
    width: 100%;
    float: left;
    border-collapse: collapse;
}
.bets-tables__table td {
    border: 1px solid rgba(255, 255, 255, 0.3);
	color: #fff;
}
.bet-to-color {
    width: 100%;
    border: none;
    padding: 4px;
    color: #fff;
	height: 35px;
}
.bet-to-color:disabled {
    opacity: 0.7;
}
.bet-red {
    background: #950000;
    background: url(../images/double/x2.png) right no-repeat, #950000;
    background: url(../images/double/x2.png) right no-repeat, linear-gradient(to top, #950000, #D22626);
}
.bet-green {
    background: #1E7D1B;
    background: url(../images/double/x14.png) right no-repeat, #1E7D1B;
    background: url(../images/double/x14.png) right no-repeat, linear-gradient(to top, #1E7D1B, #27A723);
}
.bet-black {
    background: #262626;
    background: url(../images/double/x2.png) right no-repeat, #262626;
    background: url(../images/double/x2.png) right no-repeat, linear-gradient(to top, #262626, #626161);
}
.bet-tables table tbody tr {
    padding: 7px 4px;
}
.bet-tables table tbody tr img {
    width: 30px;
    vertical-align: middle;
    margin-right: 3px;
}
.bet-tables table tbody tr td:nth-child(2) {
    text-align: right;
    padding-right: 4px;
	border-left: none;
    vertical-align: middle;
}
.bet-tables table tbody tr td:nth-child(1) {
    border-right: none;
}
@media (max-width: 595px) {
	.bet-tables table tbody tr {
		font-size: 0.7em;
	}
}
@media (max-width: 450px) {
	.bet-tables table tbody tr img {
		display:none;
	}
}
@media (max-width: 340px) {
	.bet-tables table tbody tr {
		font-size:0.6em;
	}
}