.inventoryList {
    position: fixed;
    top: 0;
    text-align: center;
    width: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 50;
    color: #fff;
    overflow-y: auto;
    height: 100%;
}
.inventory a:visited, .inventory a, .port-inventory a:visited, .port-inventory a {
    coloR: #fffec4;
	font-weight: bold;
}
.inventory, .port-inventory {
    padding: 0 10px;
	margin-bottom: 45px;
}
.inventorySum {
    position: fixed;
    top: 3px;
    left: 3px;
    background: #3C8698;
    padding: 4px;
    border-radius: 2px;
}
.choseItems {
    position: fixed;
    bottom: 0;
}
@media (max-height:555px) {
	.fullWeaponInfo {
		width: 450px;
		padding: 5px;
		padding-top: 0;
	}
	#weaponImg {
		width: 150px;
		float: left;
		margin: 8px 0 8px 8px;
	}
	#weaponInfoTable {
		width: calc(100% - 160px);
		margin-top: 5px;
	}
	#weaponInfoTable tr td:nth-child(2n) {
		padding-left: 15px;
	}
	#statTrakImg {
		width: 55px;
		position: absolute;
		right: 0;
		left: 7px;
		bottom: 7px;
	}
}

@media (max-width: 450px) {
	.weapon {
		height: 113px;
		width: 98px;
	}
	.wp-statTrak::before {
		margin-top: 65px;
	}
	.weapon img {
		width: 86px;
		height: 91px;
	}
	.type {
		font-size: 9px;
	}
	.weapon i {
		font-size: 7pt;
		font-family: Lato;
		font-weight: Lighter;
	}
}