* {
    margin: 0;
    padding: 0;
}

#containter {
	margin-top:25px;
}
#search {
    width: auto;
    padding: 4px;
}
#search_text {
    width: calc(100% - 60px);
    padding: 15px 0 15px 20px;
    font-size: 16px;
    font-family: Lato, sans-serif;
	font-weight: bold;
    border: 0 none;
    height: 52px;
    margin-right: 0;
    color: white;
    outline: none;
    background: #121212;
    float: left;
    box-sizing: border-box;
    transition: all 0.15s;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color: white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: white;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: white;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: white;
}
#search_text:focus {
    background: rgb(64, 151, 119);
}
#search_button {
    border: 0 none;
    background: #1f7f5c;
    width: 60px;
    float: left;
    padding: 0;
    text-align: center;
    height: 52px;
    cursor: pointer;
	color: #fff;
	line-height: 49px;
	font-size: 22px;
}
#search_result {
    margin: 0 auto;
    margin-top: 60px;
    width: 100%;
    max-width: 650px;
    border-collapse: collapse;
	table-layout: fixed;
}
.item {
    background: RGBA(0, 0, 0, 0.26);
    color: #fff;
    overflow: hidden;
    font-family: Lato;
    font-weight: 400;
	border-bottom: 8px solid #19212B;
	cursor: pointer;
}
.item td:first-child {
    width: 75px;
}
.item img {
    border: 1px solid #fff;
    margin: 5px;
    width: 62px;
    background: #333;
}
.item__name-group {
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 600;
	overflow: hidden;
}
.item__price {
    text-align: right;
    padding-right: 10px;
	width: 70px;
}
.knive_color {
	color: #8650AC;
}
.knive_border {
	border: 1px solid #8650AC !important;
}
.statTrak_color {
	color: #cf6a32;
}
.statTrak_border {
	border: 1px solid #cf6a32 !important;
}
.souvenir_color {
	color: #ffd700;
}
.souvenir_border {
	border: 1px solid #ffd700 !important;
}
#playerBalance {
    float: right;
    font-size: 0.8em;
}
i.double-icon {
    width: 15px;
    height: 15px;
    display: inline-block;
    background: url(../images/double/coin-white.png);
    background-size: cover;
    vertical-align: middle;
    margin: 2px;
    position: relative;
    top: -2px;
}
#buy-text {
    display: block;
    text-align: left;
}
.ui-menu .ui-menu-item {
    line-height: 30px;
    border-bottom: 1px solid RGBA(0, 0, 0, 0.16);
    padding-left: 5px;
}
.buy-animation {
    display: block;
    position: absolute;
    color: #00bd2a;
    top: 20px;
    font-size: 14em;
    margin: 0 auto;
    left: 91px;
    width: 0px;
    overflow: hidden;
    text-shadow: 0px 0px 10px RGBA(0, 0, 0, 0.8);
}
.buy-animation:before {
	content: '✓';
}
.buy-animation-show {
	width:165px;
}
#buy-double:disabled {
	opacity: 0.5;
}