/* === Chat === */
.winter_snow {
    content: '';
    display: block;
    position: absolute;
    background: url(../images/winter/chat/snow_left1.png), url(../images/winter/chat/snow_mid1.png), url(../images/winter/chat/snow_right1.png);
    width: calc(100% + 8px);
    height: 25px;
    background-repeat: no-repeat;
    top: -6px;
    background-position: 0, center, right;
    left: -4px;
}