@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/RobotoRegular.ttf") format("ttf");
  unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* font-family: "LatoRegular"; */
@font-face {
    font-family: "LatoRegular";
    src: url("../fonts/LatoRegular/LatoRegular.eot");
    src: url("../fonts/LatoRegular/LatoRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoRegular/LatoRegular.woff") format("woff"),
    url("../fonts/LatoRegular/LatoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "LatoBold"; */
@font-face {
    font-family: "LatoBold";
    src: url("../fonts/LatoBold/LatoBold.eot");
    src: url("../fonts/LatoBold/LatoBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoBold/LatoBold.woff") format("woff"),
    url("../fonts/LatoBold/LatoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "LatoItalic"; */
@font-face {
    font-family: "LatoItalic";
    src: url("../fonts/LatoItalic/LatoItalic.eot");
    src: url("../fonts/LatoItalic/LatoItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoItalic/LatoItalic.woff") format("woff"),
    url("../fonts/LatoItalic/LatoItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "LatoLight"; */
@font-face {
    font-family: "LatoLight";
    src: url("../fonts/LatoLight/LatoLight.eot");
    src: url("../fonts/LatoLight/LatoLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoLight/LatoLight.woff") format("woff"),
    url("../fonts/LatoLight/LatoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "LatoBoldItalic"; */
@font-face {
    font-family: "LatoBoldItalic";
    src: url("../fonts/LatoBoldItalic/LatoBoldItalic.eot");
    src: url("../fonts/LatoBoldItalic/LatoBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoBoldItalic/LatoBoldItalic.woff") format("woff"),
    url("../fonts/LatoBoldItalic/LatoBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "LatoLightItalic"; */
@font-face {
    font-family: "LatoLightItalic";
    src: url("../fonts/LatoLightItalic/LatoLightItalic.eot");
    src: url("../fonts/LatoLightItalic/LatoLightItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoLightItalic/LatoLightItalic.woff") format("woff"),
    url("../fonts/LatoLightItalic/LatoLightItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* Icons in Menu */
@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?crt7w2');
    src:    url('../fonts/icomoon.eot?crt7w2#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?crt7w2') format('truetype'),
        url('../fonts/icomoon.woff?crt7w2') format('woff'),
        url('../fonts/icomoon.svg?crt7w2#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-pacman:before {
  content: "\e916";
}
.icon-bullhorn:before {
  content: "\e91a";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-coin-dollar:before {
  content: "\e93b";
}
.icon-bubbles2:before {
  content: "\e96d";
}
.icon-spinner5:before {
  content: "\e97e";
}
.icon-key2:before {
  content: "\e98e";
}
.icon-cog:before {
  content: "\e994";
}
.icon-stats-dots:before {
  content: "\e99b";
}
.icon-stats-bars:before {
  content: "\e99c";
}
.icon-list:before {
  content: "\e9ba";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-question:before {
  content: "\ea09";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-dice:before {
  content: "\e915";
}
/*.icon-make-group:before {
  content: "\ea58";
}*/
.icon-make-group::before {
    content: "";
    background: url(../images/double/coin-white.png);
    background-size: cover;
    width: 23px;
    height: 23px;
    display: inline-block;
	vertical-align: middle;
}
.icon-scissors:before {
  content: "\ea5a";
}

/* End icons in menu */