.navigationBar {
    background: linear-gradient(to right, #1A2B3B, #233444, #272B37, #192229);
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    vertical-align: middle;
    z-index: 30;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.8);
    text-align: center;
	overflow: hidden;
}
.navigationBar_hamburger {
    margin-top: 5px;
    floaT: left;
    margin-left: 10px;
}
.navigationBar_refresh {
    float: right;
    margin-top: 5px;
    margin-right: 10px;
}
.navigationBar_hamburger, .navigationBar_refresh {
	cursor: pointer;
}
.navigationBar span {
	display: inline-block;
    text-align: center;
    line-height: 40px;
    font-family: LatoRegular;
    font-size: 1.3em;
	color: #fff;
	font-weight: bold;
}
.menu_playerInfo {
    display: block;
    background: #303030;
    box-shadow: -1px 2px 3px #000;
    padding: 10px;
}
#menu_playerInfo_info {
    display: flex;
    flex-flow: row nowrap;
    display: -webkit-box;
    justify-content: flex-start;
    margin-bottom: 5px;
}
.menu_ava {
    width: 60px;
    line-height: 20px;
	  margin-right: 10px;
    vertical-align: middle;
}
#menu_playerInfo_info_text {
    padding-top: 10px;
}
#menu_playerInfo_name {
    display: block;
}
.menu_playerInfo span {
    color: #fff;
    font-family: LatoRegular;
}
.menu_rank__top {
    text-align: center;
}
.menu_rank__lvl {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.lvl {
    background: #9c9c9c;
    padding: 0 3px;
    font-size: 0.85em;
    font-weight: bold;
}
.lvl.lvl-current {
    background: #D8534F;
}
.menu-progress {
    overflow: hidden;
    height: 8px;
    margin: 5px;
    background-color: #f5f5f5;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    width: 100%;
    flex-grow: 2;
}
.menu-progress .progress-bar {
    float: left;
    width: 0%;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #ffffff;
    text-align: center;
    background-color: #d9534f;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: width 0.6s ease;
    -o-transition: width 0.6s ease;
    transition: width 0.6s ease;
}
.menu_rank__bottom {
    text-align: right;
}
.menu_rank__next-lvl-exp {
    font-size: 0.65em;
    text-transform: uppercase;
    color: #C5C5C5 !important;
}
.left-menu {
    height: 100%;
    position: fixed;
    background: rgba(27, 27, 27, 0.9);
    width: 270px;
    z-index: 1000;
    box-shadow: 0 1px 6px #000;
    top: 0;
    -webkit-transform: translateZ(0);
    overflow: auto;
    min-width: 260px;
    max-width: calc(100% - 40px);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.left-menu.closed {
  left:-270px;
}
.left-menu.opened {
  left:0px;
}
.left-menu ul {
    list-style: none;
    font-family: LatoLight;
    font-size: 1.2em;
	  padding: 0;
	  margin-top: 0;
}
.left-menu li {
    border-bottom: 1px solid RGBA(255, 255, 255, 0.15);
    position: relative;
}
.left-menu ul a {
    padding: 15px 10px;
    display: block;
    color: #fff;
    text-decoration: none;
    position: relative;
}
#menu_playerInfo_info_text a {
    text-decoration: none;
}
.submenu ul {
    font-size: 0.9em !important;
    overflow: hidden;
}
.submenu li {
    background: rgba(0,0,0,0.5);
}
.submenu > a:after {
    content: '';
    display: block;
    height: 11px;
    width: 8px;
    position: absolute;
    top: 50%;
    right: 15px;
    background: url(../images/arrow.svg) no-repeat;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: transform 0.2s;
    transition: transform 0.2s;
}
.submenu.opened > a:after {
  -webkit-transform: translateY(-50%) rotate(90deg);
  -ms-transform: translateY(-50%) rotate(90deg);
  transform: translateY(-50%) rotate(90deg);
}
.submenu.closed ul {
    max-height: 0;
}
.submenu.opened ul {
    max-height: 500px;
}
.submenu ul {
  -webkit-transition: max-height 0.5s;
     -moz-transition: max-height 0.5s;
          transition: max-height 0.5s;
}
.submenu ul li:first-child {
    border-top: 1px solid RGBA(255, 255, 255, 0.15);
}
.submenu ul li:last-child {
    border-bottom: none;
}
.site-overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 29;
}
.icon {
    margin: 0 17px 0 11px;
    font-size: 1.2em;
}
.menu-notification {
    float: right;
    background: #dc3e3e;
    font-family: LatoRegular;
    border-radius: 5px;
    line-height: 100%;
    text-align: center;
    font-size: 0.8em;
    padding: 4px 5px;
    margin-top: 4px;
}
sup.beta {
    color: red;
    font-size: 0.65em;
    font-family: LatoRegular;
    font-weight: 400;
}
