.consumer, .consumer-color, .base, .base-color {
	background: #9EA7AE;
}
.industrial, .industrial-color {
	background: #4A78AD;
}
.milspec, .milspec-color, .high, .high-color {
	background: #3747A7;
}
.restricted, .restricted-color, .remarkable, .remarkable-color {
	background: #6533A6;
}
.classified, .classified-color, .exotic, .exotic-color {
	background: #A41EA0;
}
.covert, .covert-color, .extraordinary, .extraordinary-color {
	background: #BA3432;
}
.rare, .rare-color, .contraband, .contraband-color {
	background: #DAB515;
}
.workshop, .workshop-color {
    background: #0ec571;
}

.consumer, .base {
	background: -webkit-linear-gradient(to right, #9EA7AE,#687073);
	background: linear-gradient(to right,#9EA7AE,#687073);
}
.industrial {
    background: -webkit-linear-gradient(to right, #4A78AD,#324455);
    background: linear-gradient(to right,#4A78AD,#324455);
}
.milspec, .high {
    background: -webkit-linear-gradient(to right, #3747A7,#262E5E);
    background: linear-gradient(to right,#3747A7,#262E5E);
}
.restricted, .remarkable {
    background: -webkit-linear-gradient(to right, #6533A6,#422660);
    background: linear-gradient(to right,#6533A6,#422660);
}
.classified, .exotic{
    background: -webkit-linear-gradient(to right, #A41EA0,#5E1D57);
    background: linear-gradient(to right,#A41EA0,#5E1D57);
}
.covert, .extraordinary {
    background: -webkit-linear-gradient(to right, #BA3432,#662226);
    background: linear-gradient(to right,#BA3432,#662226);
}
.rare, .contraband {
    background: -webkit-linear-gradient(to right, #DAB515,#826E1B);
    background: linear-gradient(to right,#DAB515,#826E1B);
}
.workshop {
    background: -webkit-linear-gradient(to right, #0ec571,#076339);
    background: linear-gradient(to right,#0ec571,#076339);
}
