/* === ALL === */
.menu_playerInfo {
    background: url(../images/winter/snowfall.gif), #303030 !important;
}
.navigationBar {
    background: url(../images/winter/snowfall.gif), linear-gradient(to right, #1A2B3B, #233444, #272B37, #192229) !important;
}
.sugrob {
    background: url(../images/winter/sugrob/1.png), url(../images/winter/sugrob/2.png), url(../images/winter/sugrob/3.png);
    background-repeat: repeat-x;
    background-position: 0;
}

.sosulki {
    background: url(../images/winter/sosulki/1.png), url(../images/winter/sosulki/2.png), url(../images/winter/sosulki/3.png);
    background-repeat: repeat-x;
}

/* === Chat === */
.winter_snow {
    content: '';
    display: block;
    position: absolute;
    background: url(../images/winter/chat/snow_left1.png), url(../images/winter/chat/snow_mid1.png), url(../images/winter/chat/snow_right1.png);
    width: calc(100% + 8px);
    height: 25px;
    background-repeat: no-repeat;
    top: -6px;
    background-position: 0, center, right;
    left: -4px;
}
/* === Christmas case === */
img[src="../images/Cases/cases/none.png"] {
    width: 115px;
    background-image: url(../images/Cases/cases/christmas/spritesheet.png);
    background-repeat: no-repeat;
    background-position: 2px 4px;
    background-size: 1000px;
    animation: chr 8s steps(8) infinite;
    -webkit-animation: chr 8s steps(8) infinite;
}

@media (max-width: 433px) {
   img[src="../images/Cases/cases/none.png"] {
        width: 70px;
        background-image: url(../images/Cases/cases/christmas/spritesheet.png);
        background-repeat: no-repeat;
        background-position: 4px 4px;
        background-size: 600px;
        animation: chrLow 8s steps(8) infinite;
        -webkit-animation: chrLow 8s steps(8) infinite;
    } 
}

@keyframes chr {
    100% {   background-position: -998px 4px;}
}

@-webkit-keyframes chr {
    100% {   background-position: -998px 4px;}
}

@keyframes chrLow {
    100% {   background-position: -596px 4px;}
}

@-webkit-keyframes chrLow {
    100% {   background-position: -596px 4px;}
}